# Python
__pycache__/
*.pyc

# Environment
myenv/

# Secrets
.env

# Database
db.sqlite3

# Uploaded Files
media/

# Meilisearch
data.ms/

# Ignore Log Files
*.txt
*.log

# Ignore Scripts in root (optional, if you want them private)
fix_data.py
fix_templates.py